<div>
  <h3>User info</h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <p>Name: <%= @user.name %></p>
  <p>Introduction: <%= @user.introduction %></p>
  <% if @user == current_user %>
    <p><%= link_to "Edit profile", edit_user_path(@user) %></p>
  <% end %>
</div>

